{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="form-group text-center">

  <label>Meio</label>
  <input type="text" value="{{meio}}" class="form-control text-center" disabled/>

  <div class="row">
    <div class="col">
      <label>De</label>
      <input type="text" value="{{de}}" class="form-control text-center" disabled/>
    </div>
    <div class="col">
      <label>Para</label>
      <input type="text" value="{{para}}" class="form-control text-center" disabled/>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <label>Referência</label>
      <input type="text" value="{{referencia}}" class="form-control text-center" disabled/>
    </div>
    <div class="col">
      <label>Precedência</label>
      <input type="text" value="{{precedencia}}" class="form-control text-center" disabled/>
    </div>
    <div class="col">
      <label>Classificação Sigilosa</label>
      <input type="text" value="{{class_sigilosa}}" class="form-control text-center" disabled/>
    </div>
  </div>

  <label>Mensagem</label>
  <input type="text" value="{{mensagem}}" class="form-control text-center font-weight-bold" disabled/>

  <div class="row">
    <div class="col">
      <label>Criptografado</label>
      <input type="text" value="{{criptografado}}" class="form-control text-center" disabled/>
    </div>
    <div class="col">
      <label>GDH</label>
      <input type="text" value="{{gdh}}" class="form-control text-center" disabled/>
    </div>
  </div>

<!-- <script type="text/javascript" src="{% static 'js/mensagens.js' %}"></script> -->
<script type="text/javascript">
  $(document).ready(function(){
    // var intervalo = {{intervalo}};
      setInterval(function(){
        location.reload();
      }, {{intervalo}});
  });
</script>

{% endblock %}
